<div class="container">
   <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/SE-Budget-and-General-Fund.pdf">POLICY BRIEF: Southeast Pennsylvania and the Commonwealth Budget</a>
      <p> Southeast Pennsylvania and the Commonwealth Budget - May 2019</p>
      <p><a class="" href="https://www.cla.temple.edu/center-on-regional-politics/southeast-pa-commonwealth-budget/">View interactive graphics and maps.</a></p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://sites.temple.edu/corparchives/files/2019/08/SE-Budget-and-General-Fund.pdf">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/resized%20SE%20Budget%20and%20General%20Fund.png?raw=true" alt=""></a>
    </div>
  </div>
    <div class="row card">
      <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/SE-Budget-at-a-Glance.pdf">RESEARCH AT A GLANCE: Southeast Pennsylvania and the Commonwealth Budget</a>
      <p> Southeast Pennsylvania and the Commonwealth Budget - May 2019 </p>
      <p><a class="" href="https://www.cla.temple.edu/center-on-regional-politics/southeast-pa-commonwealth-budget/">View interactive graphics and maps.</a></p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://sites.temple.edu/corparchives/files/2019/08/SE-Budget-at-a-Glance.pdf">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/resized%20SE%20Budget%20at%20a%20Glance.png?raw=true" alt=""></a>
    </div>
  </div>
   <div class="row card">
      <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Haves-and-Have-Nots-2019-web.pdf">POLICY BRIEF: A Tale of Haves and Have-Nots</a>
      <p> The Financial Future of Pennsylvania School Districts - January 2019</p>
      <p><a class="" href="http://www.cla.temple.edu/center-on-regional-politics/pa-school-districts-financial-future-2019/">View interactive graphics and maps.</a></p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1FBgslpdsMzKfYD3PicrHJKh7GTVwsYHV/view">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/resized%20Haves%20and%20Have%20Nots%202019%20web_Page_01.png?raw=true" alt=""></a>
    </div>
  </div>
    <div class="row card">
      <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Fiscal-Forecast-Update-at-a-Glance-2019.pdf">RESEARCH AT A GLANCE: A Tale of Haves and Have-Nots</a>
      <p> The Financial Future of Pennsylvania School Districts - January 2019 </p>
      <p><a class="" href="http://www.cla.temple.edu/center-on-regional-politics/pa-school-districts-financial-future-2019/">View interactive graphics and maps.</a></p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1B6xtoq39lRBIF7QbTG2lBRafrOegz5nz/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/resized%20Fiscal%20Forecast%20Update%20at%20a%20Glance%202019_Page_1.png?raw=true" alt=""></a>
    </div>
  </div>
    <div class="row card">
      <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Fund-Balances-Update-2018-at-a-Glance.pdf">RESEARCH AT A GLANCE: Explaining School Fund Balances</a>
      <p> 2018 Are Schools Holding Too Much in Reserve? - July 2018 </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1Hiz5KdtamM0m8HpusDPfk7K3BKzYUGBl/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/resized%20Fund-Balances-Update-2018-at-a-Glance-page-one-2-e1532448636152.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Fund-Balance-Update-2018-web.pdf">POLICY BRIEF: Explaining School Fund Balances</a>
      <p>Are PA Local Education Agencies, with a $4.9 Billion Fund Balance, Holding Too Much in Reserve? An Update for FY 2016-17 - July 2018</p>
      <p><a class="" href="https://drive.google.com/file/d/1xdBs6lrUUlhuqh6ab_Gyxu7jKlfLrjN_/view?usp=sharing">View the report calculations in Excel.</a></p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1cOCrpu5arH_un8sLUKg5MHfRzqgZpXCE/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/Fund-Balance-Update-2018-web-page-one-2-1-e1532448121405.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Fund-Balances-Update-2017-at-a-Glance-Web.pdf">RESEARCH AT A GLANCE: Explaining School Fund Balances:</a>
      <p>Are PA Schools Holding Too Much in Reserve? - July 2017</p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1vAhD3miVaOfumF05Rbj0MAJKxtI6D4zn/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/Fund-Balances-Update-2017-at-a-Glance-Page-One-2-e1500577071373.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Fund-Balance-Update-2017-1.pdf">POLICY BRIEF: Explaining School Fund Balances:</a>
      <p> Are PA Schools, with a $4.7 Billion Fund Balance, Holding Too Much in Reserve? An Update for FY 2015-16 - July 2017</p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1U5AzgGNxDbc-gK7Ra-O4Qj9Yt67u9hDe/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/Policy-Brief-Fund-Balances-Page-1-e1406923145678.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/CORP-Spring-2017-Bulletin.pdf">BULLETIN: SPRING 2017</a>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1_iOnaSj5fEq4bhfiG7AwVvuJ6sLOWsGL/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/CORP-Spring-2017-Bulletin-page-one-e1490029688590.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Fiscal-Forecast-Update-at-a-Glance.pdf">RESEARCH AT A GLANCE: Hard Choices Still Ahead: </a>
      <p> The Financial Future of Pennsylvania School Districts - March 2017</p>
      <a class="" href="http://www.cla.temple.edu/center-on-regional-politics/corp-policy-brief-hard-choices-ahead-for-pa-school-districts/">View the interactive charts and maps.</a>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1nW6UleIv0O6Tc2wkrkEuxnr0eyPAnFuZ/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/Fiscal-Forecast-Update-at-a-Glance-page-one-e1489423611593.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Fiscal-Outlook-2017-Update-Policy-Brief.pdf">POLICY BRIEF: Hard Choices Still Ahead: </a>
      <p> The Financial Future of Pennsylvania School Districts - March 2017 </p>
      <a class="" href="http://www.cla.temple.edu/center-on-regional-politics/corp-policy-brief-hard-choices-ahead-for-pa-school-districts/">View the interactive charts and maps.</a>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1INIcNrT-8KFoLlQwseG7PfkhhXZqZMHL/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/Fiscal-Outlook-2017-Update-Policy-Brief-page-one-1-e1489423297381.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/CORP-Summer-2016-Bulletin-Web.pdf">BULLETIN: SUMMER 2016</a>
      <p> </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1N05DnloJLzFIA7x4jYU-iw2Q_IOrmhhz/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/CORP-Summer-2016-Bulletin-Page-One-2-e1470930370385.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/7-16-Fund-Balances-Update-at-a-Glance-Web.pdf">RESEARCH AT A GLANCE: Explaining School Fund Balances: </a>
      <p> Are PA Schools Really Flush? - July 2016 </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1ThwFeWv4M2qidDoUSdKPnErCl94yydF_/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/7-16%20Fund-Balances-Update-at-a-Glance-Page-One.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/7-16update-Fund-Balance-Update-Policy-Brief-Web.pdf"> POLICY BRIEF: Explaining School Fund Balances:</a>
      <p> An Update - July 2016 </p>
      <a class="" href="https://drive.google.com/open?id=1JNywPwyu7qZ90H0xGlvO4pxDGSy9iQnp">Access the excel data and distribution according to House and Senate district.</a>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1BDAIgC0uFx1B8Ym0o2dxiH8-9xoucm7C/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/7-16%20update%20Fund-Balance-Update-Policy-Brief-Page-One-1.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Pension-Update-Memo-June-2016.pdf"> ISSUE MEMO: THE PROBLEM OF FUNDING PENSIONS: </a>
      <p> AN UPDATE - JUNE 2016 </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1FG3c22BpRBW7KT0xLxrKsdEGc5eD-R0U/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/Pension-Update-Memo-June-2016-Page-One-2.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Tax-Effort-at-a-glance-web-1.pdf"> RESEARCH AT A GLANCE: How Well Does Philadelphia Support its Public Schools? </a>
      <p> A New Perspective - January 2016 </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1Hk5kMk3JneEXxfuNeEToidDvLikYDW8_/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/resized%20Jan%202016%20Tax-Effort-at-a-glance.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/2Tax-Effort-Philly-Web.pdf"> POLICY BRIEF:How Well Does Philadelphia Support its Public Schools? </a>
      <p> A New Perspective - January 2016 </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/13Hq7oo7-endRC6WHi1o-KDXnW6VBH19_/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/resized%202Tax-Effort-Philly-Web%20January%202016_Page_01.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/RAND_Econ-Impact-of-Achievement-Gaps-Web-1.pdf"> RAND Corporation Research Report: </a>
      <p> The Economic Impact of Achievement Gaps in Pennsylvania’s Public Schools -July 2015 </p>
      <a class="href="https://www.rand.org/pubs/research_briefs/RB9872.html">RAND Corporation Research Brief.</a><br>  
      <a class="href="https://sites.temple.edu/corparchives/files/2019/08/Press-Release-July-13-2015-1.pdf">CORP Press Release.</a>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/19JujP-JttNnQnTMQmJ5jEXUc8OPssN0T/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/RAND-page-one2-e1436817431439.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Fund-Balance-Update-2017.pdf"> Policy Brief: </a>
      <p> Explaining School Fund Balances- An Update -July 2015 </p>
      <a class="" href="https://sites.temple.edu/corparchives/files/2019/08/2013-14-and-2012-13-FB.xlsx">Statistical Supplement Comparing Fund Balances for PA’s 500 School Districts.</a>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1DRWQJkd85pysX1Yb7eJnpmZm7IvWaiqU/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/resized%20Davare-Fund-Balance-Update.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/CORP-Bulletin-Summer-2015-Web.pdf"> BULLETIN: SUMMER 2015 </a>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://sites.temple.edu/corparchives/files/2019/08/CORP-Bulletin-Summer-2015-Web.pdf">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/CORP-Bulletin-Summer-2015-page-one-e1433964139847.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Fiscal-Futures-Hartman-Shrom-Web.pdf"> POLICY BRIEF: Forecasting Fiscal Futures of Pennsylvania School Districts:</a>
      <p> Where Law and Current Policy Are Taking Our Public Schools </p>
      <a class="" href="https://sites.temple.edu/corparchives/files/2019/08/Fiscal-Projections-Senate-Districts-School-Districts-Cover-2.pdf">Five Year Fiscal Forecasts for All 500 School Districts by Senate District.</a><br>
      <a class="" href="https://sites.temple.edu/corparchives/files/2019/08/Fiscal-Projections-House-Districts-School-Districts-Cover.pdf">Five Year Fiscal Forecasts for All 500 School Districts by House District.</a><br>
      <a class="" href="https://sites.temple.edu/corparchives/files/2019/08/Fiscal-Projections-School-Districts-Cover-2.pdf">Five Year Fiscal Forecasts for All 500 School Districts by School District.</a><br>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1d-BLKGKQG1i4etTrgeqpdWAsjsEHRX_W/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/Fiscal-Futures-Hartman-Shrom-Page-One-e1431617436867.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Tax-Effort-and-Capacity-Brief-Web.pdf">POLICY BRIEF: Understanding Measures of Tax Effort and Tax Capacity</a>
      <a class="" href="https://sites.temple.edu/corparchives/files/2019/08/CapacityEffortMHIindex.xlsx">Tax effort and capacity data files.</a>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/13jMDhNFFn-fa0PaTTZJmQZQ3pn0MZ7Y9/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/Tax-Effort-and-Capacity-Brief-Page-one-2.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://drive.google.com/file/d/1XRrQt3IEPZBrpu6HeVigQ6XKut3sdPaa/view?usp=sharing">BULLETIN: SPRING 2015</a>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://sites.temple.edu/corparchives/files/2019/08/CORP-Sp-2015-Bulletin-Web.pdf">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/CORP-Sp-2015-Bulletin-Page-One-2-e1428690094969.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/School-Consolidation-Leckrone-web.pdf"> POLICY BRIEF: The Politics of Educational Change: </a>
      <p> What Can We Learn from the School Consolidation Acts of 1961 and 1963? </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1rDvA3LNAUsSJ2RdJoNHCOg0aTNtx0u5D/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/School-Consolidation-Leckrone-Page-One21.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/HH-Policies-Policy-Brief.pdf"> POLICY BRIEF: Hold Harmless Education Finance Policies in the U.S.: </a>
      <p> A Survey - December 2014 </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1LDHAn-sFXNE38zkqHKqPnfXpakXMLQ0L/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/HH-Policies-Policy-Brief-page-one5.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://drive.google.com/file/d/10T0Uz_B0ruJ8CDh-pUJAGrZiBKGL2mls/view?usp=sharing"> BULLETIN: FALL 2014 </a>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://sites.temple.edu/corparchives/files/2019/08/CORP-Bulletin-Fall-2014-web-version.pdf">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/CORP-Bulletin-Fall-2014-page-one-e1414768170365.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Policy-Brief-2-Web.pdf"> POLICY BRIEF: Growth and Stability in Public School Revenue Sources: </a>
      <p> Can We Have Both? - October 2014 </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1TJ4iLDQAtvJeNC4yqUD1ICcJbZ68wred/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/Policy-Brief-2-Page-One-e1412625156410.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Policy-Brief-Fund-Balances-1-1.pdf"> POLICY BRIEF: Explaining School Fund Balances: </a>
      <p> Are PA Schools, with $4.3 Billion in Reserve Funds, Really Flush? Just the (Dry) Facts - August 2014 </p>
      <a class="" href="https://sites.temple.edu/corparchives/files/2019/08/Unassigned-Fund-Balance-as-of-Total-School-Expenditures.xlsx">Statistical Supplement Comparing Unassigned Fund Balances and Aid Ratios for PA’s 500 School Districts.</a>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1J1nGy6rUFgiK3uEJ3o1Bm25dVDRJKYsI/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/Policy-Brief-Fund-Balances-Page-1-e1406923145678.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/CORP-Bulletin-Summer-2014.pdf"> BULLETIN: SUMMER 2014 </a>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/18kefqHOfK-kVTzyDJ6e3_8zOBhMEi3HX/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/CORP-Bulletin-Summer-2014-page-one-e1404929490494.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Vollmer-Bulletin-insert.pdf"> The Ever Increasing Burden of America’s Public Schools </a>
      <p> Bulletin Insert - Summer 2014 </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1JBCd9ZidiTSFJQnR0iEk4pB4Urchnl6s/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/Vollmer-Bulletin-insert-page-one-e1404928066846.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Commentary-May-2014.pdf"> May 30, 2014 Commentary: </a>
      <p> What Can We Learn from Pennsylvania’s History of Public School Finance? </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1-AzWqMJkILPQM9TSc-0R-qeCuRIbACvX/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/Commentary-May-2014-page-one-e1401728420397.jpg?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Local-Share-Issue-Memo.pdf"> ISSUE MEMO: How Pennsylvania Funds Public Schools: </a>
      <p> The Story of the Local Share - May 2014 </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1DqMjZ-C1tOccxEmpQroKyr28PhXLJam3/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/Local-Share-Issue-Memo-page-one-e1401727991553.jpg?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/State-Share-Issue-Memo.pdf"> ISSUE MEMO: How Pennsylvania Funds Public Schools: </a>
      <p> The Story of the State Share - May 2014 </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1x-Km089oI_DbljnElwG_fHGHRozCZ3xb/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/State-Share-Issue-Memo-page-one-e1401727384893.jpg?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/CORP-Bulletin-2014.pdf"> BULLETIN: WINTER – SPRING 2014 </a>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1XMVX1q7FpKqy7wPIeUrWzw2w5LWwYXj1/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/resized%20CORP-Bulletin-W-S-2014-page-one.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/CORP-Bulletin-Fall-2013-web.pdf"> BULLETIN: FALL 2013 </a>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1-hXJctQ4ZWd6934gYcN_Hdo4IuZpZnH5/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/resized%20CORP-Bulletin-Fall-2013-Page-One.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Commentary-August-21-2013.pdf"> August 21, 2013 Commentary: </a>
      <p> How to Fund Schools and Public Pensions </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1shrCnI4Qwg_O6SJNa0EPh0RCTQAhHLzF/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/resized%20Commentary-August-21-2013-page-one-791x1024.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Pension-Working-Group-Report-June-2013.pdf"> June 2013 Pension Working Group Report </a>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1VRUjXudyuIrrwDFQDvvX5P8WPJP7ducg/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/resized%20Pension-Working-Group-Report-Page-One.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/CORP-Bulletin-Spring-Summer-2013.pdf"> BULLETIN: SPRING-SUMMER 2013 </a>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1wPQ8PnQlB7ggFhb-LoJSKOQuKQrLLgQ2/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/resized%20Bulletin-Spring-Summer-2013-Page-one-.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Bulletin-Winter-2013.pdf"> BULLETIN: WINTER 2013- AN UPDATE ON CORP PROJECTS </a>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1gZpwCzKNZmJVEVtGJqQxmGe0jNGtvjHv/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/resized%20Winter-2013-Bulletin-Cover.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/Refinery-story-011113.pdf"> Taking Care of our Own:</a>
      <p> How Democrats, Republicans, Business and Labor Saved Thousands of Jobs and Our Refineries</p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/open?id=10NnpopcYUEtWQLdzFwqKVtIQg2OrNKWZ">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/Refinery-Story-Cover-192x300.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/BulletinFall2012WebVersion102612.pdf"> BULLETIN: FALL 2012- AN UPDATE ON CORP PROJECTS </a>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1SzOjytyju32IOY9B1_ZQoN-QtoaaxMEi/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/resized%20Bulletin-Fall-2012-Front.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://sites.temple.edu/corparchives/files/2019/08/IssueMemoPublicPensionsWebVersion0924122.pdf"> ISSUE MEMO: THE PROBLEM OF FUNDING PENSIONS </a>
      <p> SEPTEMBER 2012 </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://drive.google.com/file/d/1BuAkaLYQc_kzkJdph9imjpGI4z0TLRxL/view?usp=sharing">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Center-on-Regional-Politics/blob/master/media/resized%202012%20Memo-Public-Pensions-Front.png?raw=true" alt=""></a>
    </div>
  </div>
